<nav class="flex-row m-0 p-0 bg-fuchsia-500 ">
  <ul class="flex items-center justify-center list-none w-11/12 m-2.5 p-2.5 ">
    <li class="mr-auto"><a href="/src/index.html" class="logo"><img src="/src/assets/images/Logo_festimar.png" alt="Logo del festival" class="w-9/12"></a></li>
    <li><a href="/src/grupos.html" class="m-o block pr-2.5 no-underline hover:text-white font-bold">Grupos</a></li>
    <li><a href="/src/festival.html" class="m-o block pr-2.5 no-underline hover:text-white font-bold">Festival</a></li>
    <li><a href="/src/entradas.html" class="m-o block pr-2.5 no-underline hover:text-white font-bold">Entradas</a></li>
  </ul>
</nav>